@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
  }
  p a,
  p a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1.25rem !important;
  }
  p,
  address {
    margin-bottom: 1rem;
  }
  address p {
    margin-bottom: 0rem;
  }
  a{
    text-decoration: none!important;
  }

  .hedi--print {
    &__hide {
      display: none!important;
    }
    &__full-width {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .bx--grid {
    max-width: unset;
  }

  + main {
    margin-top: 80px;
  }
}
@page {
  margin: 1.5cm;
}

.hedi--print__logo {
  @media print {
    display: block;
    height: 40px;
    right: 0%;
    position: absolute;
    top: 0;
    width: 100px;
  }
  @media screen {
    display: none;
  }
}
