// HELPER
.hidden {
  display: none;
}
.only-for-screenreaders {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.hedi--sticky-bar {
  position: sticky;
  top: $spacing-09;
  background: #fff;
  margin-bottom: 1px;
  min-height: $spacing-10;
  padding: 0 0 $spacing-05 0;
  @media (max-width: 769px) {
    top: $spacing-07;
  }
}

.mobile-only {
  @include carbon--breakpoint("md") {
    display: none !important;
  }
}
.desktop-only {
  @include carbon--breakpoint-down("md") {
    display: none !important;
  }
}

.hedi--form-section__intro-text--h1 {
  margin-bottom: $spacing-07;
}
.hedi--form-section__intro-text {
  margin-bottom: $spacing-06;
}

.hedi--flex-end {
  display: flex;
  justify-content: flex-end;
}
.hedi--button--centered {
  display: flex;
  justify-content: center;
  padding: unset;
}

.hedi--centered {
  text-align: center;
}

.hedi--required {
  label:after {
    content: "*";
    color: $pink-60;
    margin-inline-start: 2px;
  }
  &__hint {
    p {
      color: $gray-60;
      font-size: 0.75rem;
    }
  }
}

.hedi--account-page {
  background-color: #fff;
  min-height: 90vh;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.required-input label[for].bx--label:after {
  content: " *";
  color: red;
}

.inline-label {
  margin-right: $spacing-03;
  @include rtl-only() {
    margin-left: $spacing-03;
    margin-right: reset;
  }
}

.mb-09 {
  margin-bottom: $spacing-09;
}
.mb-07 {
  margin-bottom: $spacing-07;
}

.mb-06 {
  margin-bottom: $spacing-06;
}
.mb-05 {
  margin-bottom: $spacing-05;
}

.small-avatar {
  max-width: 40px;
}

.hedi--required__hint {
  @extend .bx--label;
  width: 100%;
}

.hedi--body-long-01 {
  p {
    @include carbon--type-style("body-long-01");
  }
}
