.hedi--profile-card {
  &--new {
    border-left: 4px solid $blue-40;
  }
  &--accepted {
    border-left: 4px solid $orange-40;
  }

  &--inactive {
    background-color: $gray-20;

    .hedi--hedi-card__base__text__title {
      @include type-style("productive-heading-04");
      color: $gray-60;
    }
    .hedi--hedi-card__base__text__subtitle {
      color: $gray-60;
    }
    .hedi--hedi-card__base__img-container {
      filter: opacity(80%);
    }
  }
  &--extended-interaction-area {
    .hedi--hedi-card__base__interaction-area {
      width: auto;
    }
  }
  &.gray {
    background: $gray-10;
  }

  &--green-label {
    color: $green-60;
  }

  &.isSelected {
    background: $blue-10;
  }

  &__image {
    max-width: 160px;
    img {
      border-radius: 160px;
    }
  }
  &__image-small {
    max-width: 60px;
    img {
      border-radius: 60px;
    }
  }

  // TODO add to Anfragen css when it exits
  &__free-text {
    @include type-style("body-long-01");
    color: $gray-50;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include carbon--breakpoint("md") {
      width: 75%;
    }
  }

  &__state-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    top: 0;
    position: absolute;
  }
  &__timestamp {
    margin: 0 $spacing-03;
    color: $gray-40;
    @include type-style("body-short-01");
  }

  &__user-area {
    align-items: center;
    display: flex;
  }
  &__user-name {
    padding-left: $spacing-04;
  }
}

.hedi--profile-card__profile-page {
  .hedi--hedi-card__base__img-container {
    width: 90px;
    height: 90px;
    img {
      border-radius: 90px;
    }
  }
}